name: Build APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Build debug APK
      run: gradle assembleDebug --stacktrace

    - name: Upload debug APK
      uses: actions/upload-artifact@v4
      with:
        name: home-assistant-kiosk
        path: app/build/outputs/apk/debug/home-assistant-kiosk.apk

    - name: Create Release on Tag
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: app/build/outputs/apk/debug/home-assistant-kiosk.apk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
